/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
}

/* General styles */
.body {
  background: #F3F3F3;
  font-family: 'Montserrat', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.form {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 18px #888888;
  flex-basis: 430px;
  padding: 50px 40px;
}

.form__title {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.form__input-label {
  display: block;
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 5px;
}

.form__input-text, 
.form__input-password {
  border: 1px solid #444141;
  display: block;
  height: 45px;
  margin-bottom: 25px;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.form__input-text:focus,
.form__input-password:focus {
  outline: thin dotted;
}

.form__login-section {
  align-items: center;
  display: flex;
  margin-bottom: 60px;
}

.form__submit-btn {
  background: #5F3AD0;
  border-radius: 30px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  flex: 40%;
  font-weight: bold;
  padding: 8px 20px;
  transition: all .3s linear;
}

.form__submit-btn:hover {
  background-color: #fff;
  border: 1px solid #444141;
  color: #5F3AD0;
}

.form__submit-btn:active {
  background-color: #abd03a;
  border: 1px solid transparent;
  color: #fff;
  transition: none;
}

.form__wrong-password {
  color: #3e3e3e;
  flex: 60%;
  transition: all .3s linear;
  text-align: right;
}

.form__wrong-password:hover {
  color: #000;
}

.form__wrong-password:active {
  color: #abd03a;
  transition: none;
}

.form__signup-section {
  text-align: center;
  font-weight: bold;
}

.form__signup-link {
  text-decoration: underline;
  transition: all .3s linear;
}

.form__signup-link:hover {
  color: rgba(0, 0, 0, .7);
}

.form__signup-link:active {
  color: #abd03a;
  transition: none;
}

@media (max-width: 575px) {
  .form__login-section {
    flex-wrap: wrap;
  }
  
  .form__submit-btn {
	flex: 100%;
  }
  
  .form__wrong-password {
    text-align: center;
    margin-top: 15px;
  }
}
